.header {
  width: 1320px;
  height: 104px;
  margin: 0 auto;
  background-image: url(/images/cover.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header__nav {
  display: flex;
  width: 100%;
  height: 100%;
}
.header__nav-logo {
  width: 50%;
  height: 100%;
  display: inline-flex;
  padding: 13px 48px 13px 0px;
  align-items: center;
  color: var(--text-color, #252b42);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}
.header__nav-list {
  display: flex;
  list-style: none;
  width: 40%;
  height: 100%;
  align-items: center;
  gap: 26px;
}
.header__nav-list a {
  text-decoration: none;
}
.header__nav-list-item {
  color: var(--second-text-color, #737373);
  text-align: center;
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.header__nav-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 10%;
  height: 100%;
}
.header__nav-extra {
  display: none;
}
.header__nav-mov {
  display: none;
}

@media screen and (max-width: 420px) {
  .header {
    display: block;
    width: 100%;
    height: 535px;
    background-image: none;
  }
  .header__nav {
    display: flex;
    width: 100%;
    height: 60px;
  }
  .header__nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60px;
    text-align: center;
    margin-left: 25px;
  }
  .header__nav-list,
  .header__nav-menu {
    display: none;
  }
  .header__nav-extra {
    width: 50%;
    height: 60px;
    text-align: center;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 26px;
  }
  .header__nav-extra-items {
    color: var(--second-text-color, #737373);
    text-align: center;
    color: #737373;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
  }
  .header__nav-mov {
    display: block;
    width: 100%;
    height: 475px;
  }
  .header__nav-movlist {
    width: 125px;
    height: 270px;
    display: block;
    margin: 95px auto;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .header__nav-movitem {
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 150% */
    letter-spacing: 0.2px;
    margin-top: 30px;
  }
}
.hero {
  display: flex;
  width: 1320px;
  height: 685px;
  margin: 0 auto;
  background-image: url(/images/cover.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__text {
  width: 575px;
  height: 100%;
}
.hero__text-care {
  padding-top: 170px;
  color: var(--text-color, #252b42);
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.2px;
}
.hero__text-obj {
  padding-top: 35px;
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
}
.hero__text-btn {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-top: 35px;
}
.hero__text-btn-largebtn {
  display: flex;
  padding: 10px 36px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  background: var(--secondary-color-1, #00a0c1);
  color: var(--light-text-color, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}
.hero__text-btn-smalbtn {
  display: flex;
  padding: 10px 36px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  border: 1px solid var(--secondary-color-1, #00a0c1);
  color: var(--secondary-color-1, #00a0c1);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}
.hero__img {
  width: 745px;
  height: 100%;
}
.hero__mob {
  display: none;
}

@media screen and (max-width: 420px) {
  .hero {
    width: 100%;
    height: 1200px;
    background-image: none;
    background-image: url(/images/cover\ \(1\).png);
    background-repeat: no-repeat;
  }
  .hero__text {
    width: 100%;
    height: 575px;
  }
  .hero__img {
    display: none;
  }
  .hero__mob {
    width: 100%;
    height: 580px;
    border: 1px solid;
  }
  .hero__text-care {
    color: var(--text-color, #252B42);
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px; /* 142.5% */
    letter-spacing: 0.2px;
  }
  .hero__text-obj {
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
  }
  .hero__text-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .hero__text-btn-largebtn {
    display: flex;
    padding: 10px 36px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 37px;
    background: var(--secondary-color-1, #00A0C1);
    color: var(--light-text-color, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 200% */
    letter-spacing: 0.2px;
  }
  .hero__text-btn-smalbtn {
    display: flex;
    padding: 10px 36px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 37px;
    border: 1px solid var(--secondary-color-1, #00A0C1);
    color: var(--secondary-color-1, #00A0C1);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 200% */
    letter-spacing: 0.2px;
  }
}
.main {
  width: 1320px;
  height: auto;
  margin: 0 auto;
}

.main__intro {
  width: 1320px;
  height: 530px;
  border: 1px solid;
  margin: 0 auto;
}
.main__intro-h2 {
  padding-top: 100px;
  text-align: center;
  color: var(--text-color, #252B42);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}
.main__intro-p {
  padding-top: 10px;
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.main__intro-container {
  display: flex;
  margin-top: 80px;
  width: 100%;
  height: 145px;
  border: 1px solid;
}
.main__intro-container-item {
  width: 325px;
  height: 100%;
  margin-left: 30px;
  border: 1px solid;
}

@media screen and (max-width: 420px) {
  .main {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
